<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.0.2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="app.component.css">

</head>

<body>
  <div class="container app">
    <div class="row">
      <div class="col-sm-8 text-center">
        <h1>{{title}}</h1>
      </div>

      <div class="col-sm-4">
        <div class="alert alert-success alert-dismissible" *ngIf="msg">
         
          <button type="button"  class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
          {{msg}}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <figure class="tamanoImg ">
        <img src="../assets/img/LOGO_RG_256.png" class="img-fluid" alt="">
      </figure>
    </div>

    <div class="row justify-content-center text-center">
      <h2>Create Data:</h2>
      <form action="" class=" col-4">
        <div class="mb-3">
          <!-- form input nombre -->
          <label for="name" class="form-label"></label>
          <input type="text" name="name" id="name" class="form-control" placeholder="" [(ngModel)]="model.name">
          <small id="helpName" class="text-muted">Nombre</small>
        </div>
        <div class="mb-3">
          <!-- form input position -->
          <label for="position" class="form-label"></label>
          <input type="text" name="position" id="position" class="form-control" placeholder=""
            [(ngModel)]="model.position">
          <small id="helpPosition" class="text-muted">Posicion</small>
        </div>
        <div class="mb-3">
          <!-- form input email -->
          <label for="email" class="form-label"></label>
          <input type="email" name="email" id="email" class="form-control" placeholder="" [(ngModel)]="model.email">
          <small id="helpEmail" class="text-muted">Correo</small>
        </div>
        <div class="mb-3">
          <!-- form input email -->
          <button type="submit" (click)="addEmplyee()" class="btn btn-primary">Añadir</button>
        </div>

      </form>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-sm-8">
        <h3>Listar datos</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Posicion</th>
              <th>Correo</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees; let i = index">
              <td>{{employee.name}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.email}}</td>
              <td class="justify-content-around d-flex">
                <a (click)="editEmployee(i)" class="btn btn-success">Editar</a>
                <a (click)="removeEmployee(i)" class="btn btn-danger">Borrar</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-sm-4" [hidden]="hideUpdate">
        <h3>Actualizar datos</h3>
        <div class="">
          <!-- form input nombre -->
          <label for="name" class="form-label"></label>
          <input type="text" name="name" id="name" class="form-control" placeholder="" [(ngModel)]="model2.name">
          <small id="helpName" class="text-muted">Nombre</small>
        </div>
        <div class="">

          <!-- form input position -->
          <label for="position" class="form-label"></label>
          <input type="text" name="position" id="position" class="form-control" placeholder=""
            [(ngModel)]="model2.position">
          <small id="helpPosition" class="text-muted">Posicion</small>
        </div>
        <div class="">
          <!-- form input email -->
          <label for="email" class="form-label"></label>
          <input type="email" name="email" id="email" class="form-control" placeholder="" [(ngModel)]="model2.email">
          <small id="helpEmail" class="text-muted">Correo</small>
        </div>
        <div class="mb-3">
          <!-- form input email -->
          <button type="submit" (click)="updateEmplyee()" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>

  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>